name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: maven

      - name: Check version info
        run: |
          pushd ./dev_scripts
          pip3 install "."
          popd
          python3 ./dev_scripts/check_docs_package_version.py --validate

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Create javadoc
        run: mvn javadoc:javadoc
